In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-03-31 15:55:52,3.0707,172.7902,80.26,80,72,12.82
1,1,Hofn,IS,2022-03-31 15:55:52,64.2539,-15.2082,39.22,60,75,3.44
2,2,Paamiut,GL,2022-03-31 15:55:52,61.9940,-49.6678,33.78,91,100,7.25
3,3,Villachuato,MX,2022-03-31 15:55:53,20.1667,-101.5833,76.23,13,4,0.72
4,4,Varberg,SE,2022-03-31 15:55:53,57.1056,12.2508,40.23,53,77,12.44

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-03-31 15:55:52,3.0707,172.7902,80.26,80,72,12.82
3,3,Villachuato,MX,2022-03-31 15:55:53,20.1667,-101.5833,76.23,13,4,0.72
7,7,Hithadhoo,MV,2022-03-31 15:55:54,-0.6000,73.0833,83.46,69,7,4.81
10,10,Merauke,ID,2022-03-31 15:55:55,-8.4667,140.3333,79.50,77,100,7.43
12,12,Xai-Xai,MZ,2022-03-31 15:55:55,-25.0519,33.6442,77.25,80,4,11.95
13,13,Mecca,SA,2022-03-31 15:54:57,21.4267,39.8261,83.79,31,0,8.03
22,22,Rikitea,PF,2022-03-31 15:54:29,-23.1203,-134.9692,77.45,73,58,15.75
25,25,Cayenne,GF,2022-03-31 15:55:59,4.9333,-52.3333,84.24,15,75,11.50
38,38,Hambantota,LK,2022-03-31 15:56:02,6.1241,81.1185,77.34,94,40,2.30
42,42,Puerto Ayora,EC,2022-03-31 15:56:04,-0.7393,-90.3518,82.36,75,94,6.98

In [16]:
preferred_cities_df.count()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0     Butaritari      KI     80.26   3.0707  172.7902
3    Villachuato      MX     76.23  20.1667 -101.5833
7      Hithadhoo      MV     83.46  -0.6000   73.0833
10       Merauke      ID     79.50  -8.4667  140.3333
12       Xai-Xai      MZ     77.25 -25.0519   33.6442
13         Mecca      SA     83.79  21.4267   39.8261
22       Rikitea      PF     77.45 -23.1203 -134.9692
25       Cayenne      GF     84.24   4.9333  -52.3333
38    Hambantota      LK     77.34   6.1241   81.1185
42  Puerto Ayora      EC     82.36  -0.7393  -90.3518

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.tail(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
507,Richards Bay,ZA,77.09,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
508,Aitape,PG,78.49,-3.1374,142.3475,
510,Rajpipla,IN,86.41,21.8667,73.5000,Lal Tower Govt. Guest House
515,Wattegama,LK,75.29,6.7989,81.4808,
517,Coahuayana,MX,82.09,18.7333,-103.6833,El rranchito michuacan de ocampos
519,Attingal,IN,85.68,8.6833,76.8333,Government Guest House
523,Itarema,BR,75.43,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
532,Sechura,PE,81.23,-5.5569,-80.8222,Hospedaje Costa Bella
533,Cockburn Town,TC,76.77,21.4612,-71.1419,Osprey Beach Hotel
536,Manokwari,ID,77.72,-0.8667,134.0833,Swiss Belhotel Manokwari

In [30]:
hotel_df.count()

City          168
Country       168
Max Temp      168
Lat           168
Lng           168
Hotel Name    168
dtype: int64

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))